body{
    font-size:1rem;
}
 .navbar {
	background: #456;
	/* border-bottom: 2px solid #ecedee; */
	box-shadow: 0px 0px 1px #456;
	margin-bottom: .36em;
}
.jumbotron {

	margin-bottom: .4rem;
	background-color:#F8F9FA;
	border-radius: 0.3rem;
    box-shadow: 0px 2px 3px #456;


}
.Headline {
	padding-top: 10px;
	padding-bottom: 10px;
	background:#057555;
	border-radius: 2px;
}
.footer1 {
	text-align: center;
	background: #f2f2f2;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: .356em;
	margin-bottom: .344em;
	border-top: 2px solid #e3e3e3;
}

/* register */
.register {
	max-width: 526px;
	display: block;
	margin: auto;
	border: 2px solid #f7f7f7;
	padding: 7px 9px;
	background:#f1f4f3;
	box-sizing: border-box;
	box-shadow: 0px 1px 7px #91969b;
}
.register h2 {
	font-size: 1.8rem;
	text-align: center;
	/* border: 2px solid; */
	border-radius: 100px;
	border-bottom: 2px solid #19375578;
	padding-bottom: 5px;
	box-shadow: 0px 1px 0px #456;
}
/* login form */
.login {
	max-width: 526px;
	display: block;
	margin: auto;
	border: 2px solid #f7f7f7;
	padding: 7px 9px;
	background:#f1f4f3;
	box-sizing: border-box;
    box-shadow: 0px 1px 7px #91969b;
    margin-top: 2em;
    margin-bottom:3em;;
}
.login h2 {
	font-size: 1.8rem;
	text-align: center;
	/* border: 2px solid; */
	border-radius: 100px;
	border-bottom: 2px solid #19375578;
	padding-bottom: 5px;
	box-shadow: 0px 1px 0px #456;
}
.container-xl, .container-lg, .container-md, .container-sm, .container {
	max-width: 1287px;
}
.confarmation_page {
	max-width: 600px;
	margin: 0 auto;
	display: block;
	margin-top: 9em;
	margin-bottom: 8em;
	border: 2px solid #f4f4f4;
	padding: 14px 8px;
	box-shadow: 0px 0px 3px #456;
}
/* //student home */
.student-card-img-top {
	max-width: 300px;
	/* margin: 0 auto; */
	margin-top: 8px;
	border-radius: 5px;
	margin-left: 5px;
}
.studentupdate {
	padding: 9px 13px;
	padding-bottom: 3em;
	border: 1px solid #d2d9df;
	box-shadow: 0px 2px 4px #c7cbce;
}
.teacherupdate {
	border: 2px solid #edf1f4;
    padding: 9px 13px;
    padding-bottom: 3em;
}
/* //attendance */
.attendance {
	border: 2px solid rgb(241, 242, 242);
	padding: 8px 8px 10px;
}
/* takenclasss */
.takenclasss {
	background: #e3e6ea;
	border: 2px solid #dadee1;
	box-shadow: 0px -1px 3px #979a9d;
    margin-top: 2px;
    padding-bottom:.9em;

}
.takenclasss .heading {
	text-align: center;
	/* padding: ; */
	padding-top: 7px;
	/* padding-bottom: 10px; */
	color: #0e9958;
	font-weight: 600;
	display: block;
	border-bottom: 2px solid #becec4;
	max-width: 385px;
	/* text-align: ; */
	margin: 0 auto;
	border-radius: 50px;
	box-shadow: 0px 3px 3px #4565;
    margin-top: 6px;
    margin-bottom: .6em;
}
.takenclasss .heading3 {
	text-align: center;
     color: #d73a3a;
}
/* submit button attendance,update */
.submitbutton {
	margin-left: 10px;
	margin-bottom: 9px;
}
/* All information */

.AllInfo_course {
	background: #d4dbe1;
	padding-top: 1.4em;
	/* padding-left: .3em; */
	padding-bottom: 1.4em;
	text-align: center;
	box-shadow: 0px 1px 2px #456;
	margin-left: .3em;
	margin-bottom: .2em;
}
.AllInfo_course:hover {
	color: #443d3d;
	box-shadow: 0px 1px 14px #456;
}
.search  {
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 5px;
	background-color: transparent;
	margin-left: 3px;
}
.jumbotron {
	margin-bottom: .4rem;
	background-color: #F8F9FA;
	border-radius: 0.3rem;
	box-shadow: 0px 2px 3px #456;

}
.homeimagetop{
    padding-top:8em;
}
/* max_tableHeight */
/* .max_tableHeight{
    height:550px;
} */
.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	/* height: 700px; */
}
.Allinformation_h4 {
	padding-top: 10px;
	text-align: center;
	font-weight: 600;
	border-bottom: 2px solid #dddada;
	padding-bottom: 10px;
}
@media(max-width:600px){
    .homeimagetop{
        padding-top:1em;
    }
}
